/* List three ways to select html elements in css */
/* Type your answer here  */

/* List three ways to style html elements */
/* Type your answer here  */

body {
  background-color: #eee;
  padding: 0;
  margin: 0;
}

header {
  background-image:url('https://drive.google.com/uc?id=1ADdMAd8sSM1GxabjRUpJaqliyYQMxixu');
  background-size: cover;
  background-position: center;
  color: #ccc;
  display: flex;
  /* What does 'display: flex' do?*/
  /* Type your answer here */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 100px;
  margin: 40px;
  border-radius: 50%;
}

.title {
  margin: 40px;
  padding: 15px;
  border: solid #ccc 5px;
  border-radius: 15px;
}

.italic {
  margin: 40px;
  font-size: 24px;
  /* px, _____, and _____ are 3 measurements units in CSS */
  font-style: italic;
  text-align-last:center;
}

.bootcamp {
  padding: 20px;
}

.align-right {
  text-align: right;
}

.bootcamp p,
li {
  margin: 10px;
}

#awesome {
  display: none;
}

footer {
  display: flex;
  -webkit-flex-direction: row; 
  flex-direction: row;
}

#searchBox {
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border-color: #dda65f;
}

#searchBox::selection {
  border-color: #3a7ddd;
}

infoBtn,
#searchBtn,
#awesomeBtn {
  background-color: #dda65f;
  /* add border color to match the background color */
  border-color: #dda65f;
  color: white;
  margin: 0 auto;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 5px;
}

/* Make the mouse curser look like a hand when you hover over the buttons (#infoBtn, #searchBtn, #awesomeBtn) and add backgound and border color of #3a7ddd*/

.socialIcon {
  width: 25p;
  margin: 0 10px;
  -webkit-flex-direction: row; 
  flex-direction: row;
 
  
}
